<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flask With Firebase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <span class="navbar-brand mb-0">Flask With Firebase</span>
    </nav>
    <div id="content-section">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h1>Thankyou For Submitting The Form</h1>
                 </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>